@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* globals.css */


/* Hide scrollbars in all major browsers */

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.no-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

.no-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}